*{
  margin: 0;
  padding: 0;
}
body{
    background-color: #565f81;
}
.wrapper {
    width: 960px;
    margin: 0 auto;
    position: relative;
}


#footer {
    width: 960px;
    margin: 0 auto;
}
#footercontent-left {
    float: left;
}
.connect-us {
    float: right;
}
.nav-footer {
    float: left;
    margin-top: 25px;
}
.nav-footer ul {
    list-style: none;
    padding-left: 0;
    padding-right: 10px;
    margin-top: 0;
    line-height: 40px;
}
.nav-footer ul li {
    float: left;
    margin-left: 10px;
}
.nav-footer ul li:first-child {
    margin-left: 0;
}
.nav-footer ul li a {
    border-left: 2px solid #dadfeb;
    text-decoration: none;
    color: #dadfeb;
    font-size: 13px;
    font-weight: normal;
    padding: 0px 15px;
}
.nav-footer ul li:first-child a {
    border-left: none;
    padding-left: 0px;
}
.copyright {
    float: left;
    clear: both;
    color: #9fa8bd;
}
.connect-us {
    float: right;
    margin-top: 25px;
}
.connect-us h2 {
    margin-top: 7px;
    float: left;
    color: #dadfeb;
    font-size: 13px;
}
.connect-us ul {
    float: right;
    list-style: none;
    padding-left: 0;
    padding-right: 10px;
    margin-top: 0;
    line-height: 40px;
}
.connect-us ul li {
    float: left;
    margin-left: 10px;
}

.connect-us ul li a {
    text-decoration: none;
    display: block;
    width: 35px;
    height: 35px;
    text-indent: -10000px;
}
.twitter {
    background-image: url(../images/twitter.png);
}
.facebook {
    background-image: url(../images/facebook.png);
}
.linkedin {
    background-image: url(../images/linkedin.png);
}
.email {
    background-image: url(../images/email.png);
}
